<!DOCTYPE html>
<html>
<head>

	<title>Expenses Spreadsheet</title>

<style type="text/css">
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.formLines {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 5px 0px;
  padding: 0; 
}
.active {
  color: purple !important;
  font-size: 25px !important;
  font-style: italic !important;
}
.listItem {
  font-size: 22px;
  color: darkgrey;
  cursor: pointer;
  font-weight: bold;
}
.listItem:hover, .receiptsLink:hover {
  opacity: .5
}

</style>
</head>
<body>

  <% var expensesObj = JSON.parse(result) %>

  <div style="display: flex; justify-content: center;background:rgb(240, 243, 244); height: 600px;">
    
    <div style="background: grey;padding: 20px;background: white;margin-top: 20px;border-radius: 5px;border: 1px solid #ccc; font-family: sans-serif;min-width: 900px;">

      <h1 style="margin-bottom: 30px;font-size: 28px;padding: 10px;">Expenses and Returns Overview <%= year %></h1>

      <nav style="width: 100%; margin-bottom: 20px;">
        <ul style="display: flex;list-style-type: none;justify-content: space-around;font-size: 20px;">
          <li><a href="" class="active listItem">Expenses</a></li>
          <li class="listItem">Returns</li>
          <li class="listItem">Overall expenses</li>
        </ul>
      </nav>

      <% for (const prop in expensesObj.expenses) { %>

        <hr class="formLines">

        <div style="padding: 10px;display: flex;justify-content: space-between;">

          <span style="font-size: 20px;flex: 1;font-weight: bold;"><%= prop %></span>

          <div style="font-size: 20px;color: #B22222;flex: 1;font-style: italic;flex-basis: 10%;">$ -<%=expensesObj.expenses[prop].total%></div>

          <a href="/expenses/spreadsheet/<%= year %>/<%= prop %>" class="receiptsLink" style="flex: 1;color: #365899">View more details</a>

        </div>

      <% } %>

        <hr class="formLines">

        <div style="padding: 10px;display: flex;">

          <span style="font-size: 20px;font-weight: bold;">Total for expenses: </span>

          <div style="font-size: 20px;color: #B22222;font-style: italic;margin-left: 10px;">$ -<%= expensesObj.totals.grandTotal %></div>

        </div>

  	</div>

  </div>

</body>
</html>
