<!DOCTYPE html>
<html>
<head>

  <title>Specific Receipts</title>

  
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css" />

  <link href="../../../styles/print.css" media="print" rel="stylesheet" type="text/css">

<style type="text/css">

#mainContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

#bottomContainer {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  justify-content: space-around;
}

#pagination {
  display: flex;
  font-size: 25px;
  font-weight: bold; 
}

#pagination a {
  padding: 0px 5px 0px 5px;
  cursor: pointer;
  font-weight: normal;
}

#pagination a:hover {
  opacity: .6;
}

#sum {
  font-size: 18px;
}

.fa-print {
  cursor: pointer;
  font-size: 25px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

</style>
</head>
<body>


<div id="mainContainer">

<script src="../../../scripts/loader.js"></script>

  <table id="mainTable">

      <tr>
        <th>Location</th> 
        <th>Date</th>
        <th>Amount</th>
        <th>Expense Type</th>
      </tr>
    <% for(var i=0; i<receipts.length; i++) {%>
      <tr>
        <td><%= receipts[i].location %></td> 
        <td><%= receipts[i].date %></td>
        <td>$ <%= receipts[i].amount %></td>
        <td><%= receipts[i].expense_type %></td>
      </tr>
    <% } %>

  </table>

  <div id="bottomContainer">

    <div><i id="print" class="fa fa-print" aria-hidden="true"></i></div>
    
    <nav id="pagination">
      <div>Pages:</div>
    </nav>

    <div id="sum">Total for <%= location %> : $ <%= sum %></div>

  </div>
  
</div>


<!-- This is quite interesting, if you render extra paths like /2017/lowes that are not in the folder views/, you need to add the amount of back spaces to the original page if that makes since lol to load the resource properly-->

<script src="../../../scripts/tablePagination.js"></script>

<script type="text/javascript">

  let printButton = document.querySelector('#print').addEventListener('click', letsPrint)
  
  function letsPrint() {

    let table = document.getElementById('mainTable');

    Array.from(table.rows)
      .map(rows => {

        rows.style.display = 'table-row';

      })

    window.print();

  }

</script>


</body>
</html>

