<!DOCTYPE html>
<html>
<head>

  <title>Specific Receipts</title>

<style type="text/css">

body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

#bottomContainer {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  justify-content: space-around;
}

#pagination {
  display: flex;
  font-size: 25px;
  font-weight: bold;
}

#pagination a {
  padding: 0px 5px 0px 5px;
  cursor: pointer;
  font-weight: normal;
}

#pagination a:hover {
  opacity: .6;
}

#sum {
  font-size: 18px;
}

</style>
</head>
<body>

<table id="mainTable">

    <tr>
      <th>Id</th>
      <th>Location</th> 
      <th>Date</th>
      <th>Amount</th>
      <th>Expense Type</th>
    </tr>
  <% for(var i=0; i<receipts.length; i++) {%>
    <tr>
      <td><%= receipts[i].id %></td>
      <td><%= receipts[i].location %></td> 
      <td><%= receipts[i].date %></td>
      <td>$ <%= receipts[i].amount %></td>
      <td><%= receipts[i].expense_type %></td>
    </tr>
  <% } %>

</table>

  <div id="bottomContainer">
    
    <nav id="pagination">
      <div>Pages:</div>
    </nav>

    <div id="sum">Total for <%= location %> : $ <%= sum %></div>

  </div>


<script src="../../scripts/tablePagination.js"></script>

</body>
</html>

